.home-container{
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
text-align: center;
width: 100%;
height: 100%;
}
.home-container p{
    max-inline-size: var(--size-content-4);
}
.home-container h1{
    max-inline-size: var(--size-content-4);
    text-transform: uppercase;
}

.btn button {
padding: var(--size-1) var(--size-6);
font-size: var(--size-5);
color: var(--blue-0);
border-radius: var(--size-1);
margin-top: var(--size-3);

}